---
bootstrap-app:
  hosts:
%{ for id, value in bootstrap_cts ~}
    ${value.name}:
      ansible_host: ${value.ip}
      vm_id: ${value.vm_id}
      pve_node: ${value.node_name}
%{ endfor ~}
  vars:
    ansible_user: root
    ansible_ssh_private_key_file: ${ansible_private_key_path}
    environment_name: ${environment_name}
